<div class="row">
	<div class="column column-12">
		<div class="column-content">
			<span class="currency-change-amount"><%- amount %></span> <a href="/history/<%- rateFrom.currency %>" class="currency-change-from-currency"><%- rateFrom.currency %></a>
		=
			<span class="currency-change-exchange"><%- exchange.toFixed(2) %></span> <a href="/history/<%- rateTo.currency %>" class="currency-change-to-currency"><%- rateTo.currency %></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="column column-12">
		<div class="column-content">
			<span class="currency-change-ref-date"><%- new Date(rateFrom.time).toLocaleDateString() %></span>
		</div>
	</div>
</div>
