extends layout

block scripts
	script(src='/javascripts/apps/history.js')
	script window.cc = {history: !{JSON.stringify(history)}}

block styles
	link(rel='stylesheet' href='/stylesheets/rickshaw.min.css')

block content
	main.page-content
		h2 Recent #{history.currency.toUpperCase()} exchange rate history
		section
			#HistoryChartContainer.chart
				#HistoryChartYAxis.chart-y-axis
				#HistoryChart
