extends layout

block scripts
	script(src='/javascripts/apps/currency_converter.js')

block content
	main.page-content
		h2 Currency converter
		section#CurrencyConverter.currency-converter
			form(method='post' id="CurrencyConverterForm").currency-converter-form.js-form
				.row
					.column.column-6
						.column-content
							label(for="CurrencyAmount").input-label Amount
					.column.column-2
						.column-content
							label(for="CurrencyFrom").input-label From
					.column.column-4
						.column-content
							label(for="CurrencyTo").input-label To
				.row
					.column.column-6
						.column-content
							input#CurrencyAmount(type='number', name='amount', min="1", value="100", required).input.js-amount
					.column.column-2
						.column-content
							select#CurrencyFrom(name='currencyFrom', required).input.js-currency-from
								each currency in currencies
									option(value=currency)=currency

					.column.column-2
						.column-content
							select#CurrencyTo(name='currencyTo', required).input.js-currency-to
								each currency in currencies
									option(value=currency)=currency

					.column.column-2
						.column-content
							button(type='submit').button.button-cta Calculate rates
			section
				#Result.row.currency-converter-result.js-result
