doctype html
html
	head
		title= docTitle

		script(src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js')
		script(src='/javascripts/requirejs.config.js')
		block scripts
		script
			include boot.js

		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		block styles
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.page
			header.page-header
				h1.page-title
					a(href='/') Currency Magic
			block content
