extends layout

block content
	main.page-content
		h2= title
		section#Result
			.row
				.column.column-2
					.column-content
						span.currency-change-amount= amount
						| 
						span.currency-change-from-currency= rateFrom.currency
				.column.column-10
					.column-content
						span.currency-change-exchange= exchange.toFixed(2)
						| 
						span.currency-change-to-currency= rateTo.currency
