.rickshaw_graph .y_ticks {
	left: 0;
}

.chart-y-axis {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
}

.chart {
	height: 400px;
	position: relative;
}

.rickshaw_graph .x_label {
	bottom: 2rem;
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #4a9eec;
	border-bottom: 1px dotted #4a9eec;
	text-decoration: none;
}

a:hover {
	border-bottom-style: solid;
}

.page-content {
	max-width: 1020px;
	margin: auto;
}

.input {
	box-sizing: border-box;
	padding: 0 10px;
	height: 32px;
	border: 1px solid #cbd4dc;
	border-radius: 3px;
	font-size: 13px;
	font-weight: 400;
	color: #5c6c7c;
	background-color: #fff;
	-webkit-appearance: none;
	width: 100%;
	box-shadow: inset 0 1px 2px 0 rgba(27, 35, 46, 0.08);
	line-height: 28px;
	transition: border-color 0.3s ease-out 0s;
}

input:focus {
	border-color: #5c6c7c;
}


.button {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 8px 14px;
	height: 32px;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	border-radius: 3px;

	transition: background-color 0.3s ease-out;
}

.button-cta {
	border: 1px solid #cbd4dc;
	background-color: #f5f7f9;
	color: #5c6c7c;
}
.button-cta:hover {
	background-color: #ebeff3;
}

.input-label {
	display: block;
	font-weight: 600;
}

.row {
	clear: both;
}

.row:after {
	content: '.';
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
	width: 100%;
}

.column {
	float: left;
}

.column-1 {
	width: 8.3333%;
}

.column-2 {
	width: 16.6666%;
}

.column-3 {
	width: 25%;
}

.column-4 {
	width: 33.3333%;
}

.column-5 {
	width: 41.6666%;
}

.column-6 {
	width: 50%;
}

.column-7 {
	width: 58.3333%;
}

.column-8 {
	width: 66.6666%;
}

.column-9 {
	width: 74.9999%;
}

.column-10 {
	width: 83.3333%;
}

.column-11 {
	width: 91.6666%;
}

.column-12 {
	width: 100%;
}

.column-content {
	padding: 0.5rem;
}

.page {
	font-size: 15px;
	margin: auto;

	padding: 0;
	width: 100%;
}

.page-header {
	background-color: #000;
	background-image: url(/images/header.jpg);
	background-position: center;
	background-repeat: no-repeat;

	color: #f5f7f9;
	overflow: hidden;
	height: 200px;
	margin-bottom: 2rem;
}

.page-title {
	font-weight: 100;
	font-size: 5rem;
	letter-spacing: 2px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1020px;
}

.page-title a {
	color: inherit;
	text-decoration: none;
	border: 0;
}

.currency-converter {
	border: 1px solid #dddddd;
	padding: 2rem;
	background-color: #ebeff3;
}

.currency-converter-form {
	margin: auto;
	width: 50%;
	min-width: 80rem;
}

.currency-converter-form {
	margin-bottom: 2rem;
}

.currency-converter-result {
	text-align: center;
}

.currency-change-amount {
}

.currency-change-exchange {
	font-size: 3rem;
	margin-left: 2rem;
}

.currency-change-from-currency {
	margin-right: 2rem;
}

.currency-change-to-currency {
}

.currency-change-ref-date {
	color: #9cacbc;
}



.notification {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 2rem;
	transform: translateY(-9rem);
	transition: transform 0.5s, opacity 0.5s;

	font-size: 1.5rem;

	width: 300px;
	max-width: 300px;
	background: #f5f7f9;
	margin: auto;
	left: 50%;
	margin-left: -150px;
	text-align: center;
}


.notification.show {
	transform: translateY(1rem);
	opacity: 1;
	visibility: visible;
}

.notification.hide {
	transform: translateY(-9rem);
	opacity: 1;
	visibility: visible;
}

.error-notification {
	background-color: #ce3613;
	border-color: #ce3613;
	border-radius: 3px;
	color: #fff;
}
